.camilo-image {
    max-width: 28%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e5d8;
    color: #333;
}

nav {
    background-color: #6e7f80;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f3e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-stories {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f3e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-stories h1 {
    font-size: 36px; /* Aumentamos el tamaño del título */
    text-align: center;
}

footer {
    background-color: #6e7f80;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container h1,
.user-stories h2,
footer p {
    color: #333;
}

.quien-soy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; /* Agregamos margen automático a los lados para centrar */
}

.quien-soy-content {
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quien-soy-content p {
    margin-bottom: 20px;
}

.quien-soy-container aside {
    max-width: 300px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f3e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quien-soy-container aside a {
    color: #333;
    text-decoration: none;
}

.quien-soy-container aside a:hover {
    text-decoration: underline;
}

.atun-image {
    max-width: 10%; /* Esto ajustará el ancho máximo de la imagen al 50% del contenedor */
    height: auto; /* Esto permite que la altura se ajuste automáticamente según el ancho */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.gallery figure {
    max-width: 300px;
    margin: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery figure:hover {
    transform: translateY(-5px);
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.gallery figcaption {
    text-align: center;
    margin-top: 10px;
}

/* Estilos para el video */
h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

video:hover {
    transform: translateY(-5px);
}