body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffcb05;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

article {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

article h1 {
    font-size: 36px;
}

article p {
    font-size: 18px;
}

aside {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.gallery figure {
    margin: 0;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 20px;
}

.user-stories {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #05b8ff;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #3305ff;
    border-radius: 10px;
}

form input[type="file"] {
    margin-top: 10px;
}

form input[type="submit"] {
    background-color: #ffcb05;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #333;
}

aside ul {
    padding: 0;
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

mark {
    background-color: #ffcb05;
    padding: 2px;
}

h1,
h2 {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
